In [1]:
import pandas as pd 
import numpy as np 
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
%matplotlib inline

In [3]:
# reading the csv file with help of read_csv() method
train = pd.read_csv('house-prices-advanced-regression-techniques (1)/train.csv')
test = pd.read_csv('house-prices-advanced-regression-techniques (1)/test.csv')
train.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [4]:
df_train = train.select_dtypes(exclude=['object'])
df_train.head()

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SalePrice
0,1,60,65.0,8450,7,5,2003,2003,196.0,706,...,0,61,0,0,0,0,0,2,2008,208500
1,2,20,80.0,9600,6,8,1976,1976,0.0,978,...,298,0,0,0,0,0,0,5,2007,181500
2,3,60,68.0,11250,7,5,2001,2002,162.0,486,...,0,42,0,0,0,0,0,9,2008,223500
3,4,70,60.0,9550,7,5,1915,1970,0.0,216,...,0,35,272,0,0,0,0,2,2006,140000
4,5,60,84.0,14260,8,5,2000,2000,350.0,655,...,192,84,0,0,0,0,0,12,2008,250000

In [5]:
df_train.isnull().sum()
df_train.drop('LotFrontage', inplace=True, axis=1)
df_train.dropna(axis=0, inplace=True)

/usr/local/lib/python3.7/site-packages/pandas/core/frame.py:4117: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,
/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [6]:
from sklearn.model_selection import train_test_split

NameError: name 'df_cleaned' is not defined

In [7]:
from scipy import stats
idx = np.all(stats.zscore(df_train) < 3, axis=1)
df_cleaned = df_train[idx]
cols = df_cleaned.loc[:,'MSSubClass': ]

In [9]:
df_cleaned

,Id,MSSubClass,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,BsmtFinSF2,...,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SalePrice
0,1,60,8450,7,5,2003,2003,196.0,706,0,...,0,61,0,0,0,0,0,2,2008,208500
2,3,60,11250,7,5,2001,2002,162.0,486,0,...,0,42,0,0,0,0,0,9,2008,223500
4,5,60,14260,8,5,2000,2000,350.0,655,0,...,192,84,0,0,0,0,0,12,2008,250000
6,7,20,10084,8,5,2004,2005,186.0,1369,0,...,255,57,0,0,0,0,0,8,2007,307000
10,11,20,11200,5,5,1965,1965,0.0,906,0,...,0,0,0,0,0,0,0,2,2008,129500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1448,1449,50,11767,4,7,1910,2000,0.0,0,0,...,168,24,0,0,0,0,0,5,2007,112000
1451,1452,20,9262,8,5,2008,2009,194.0,0,0,...,0,36,0,0,0,0,0,5,2009,287090
1454,1455,20,7500,7,5,2004,2005,0.0,410,0,...,0,113,0,0,0,0,0,10,2009,185000
1455,1456,60,7917,6,5,1999,2000,0.0,0,0,...,0,40,0,0,0,0,0,8,2007,175000
1456,1457,20,13175,6,6,1978,1988,119.0,790,163,...,349,0,0,0,0,0,0,2,2010,210000

In [10]:
from sklearn import preprocessing

In [13]:
X_train_nor = preprocessing.normalize(df_cleaned.loc[:,'MSSubClass':'YrSold'])
X_train_nor

array([[6.20649229e-03, 8.74080997e-01, 7.24090767e-04, ...,
        0.00000000e+00, 2.06883076e-04, 2.07710609e-01],
       [4.91425119e-03, 9.21422097e-01, 5.73329305e-04, ...,
        0.00000000e+00, 7.37137678e-04, 1.64463606e-01],
       [3.96076177e-03, 9.41341046e-01, 5.28101569e-04, ...,
        0.00000000e+00, 7.92152353e-04, 1.32553494e-01],
       ...,
       [2.26731905e-03, 8.50244643e-01, 7.93561667e-04, ...,
        0.00000000e+00, 1.13365952e-03, 2.27752199e-01],
       [6.51424690e-03, 8.59554878e-01, 6.51424690e-04, ...,
        0.00000000e+00, 8.68566253e-04, 2.17901559e-01],
       [1.40805148e-03, 9.27553910e-01, 4.22415443e-04, ...,
        0.00000000e+00, 1.40805148e-04, 1.41509173e-01]])

In [14]:
X_train, X_test, y_train, y_test = train_test_split(X_train_nor, df_cleaned.SalePrice, test_size=0.2, random_state=101)

In [15]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, mean_absolute_error

In [16]:
# let's create the instance of LinearRegression
regressor = LinearRegression()

#fit the model 
regressor.fit(X_train, y_train)

#predict 

y_pred = regressor.predict(X_test)

In [17]:
r2 = regressor.score(X_train, y_train)

In [19]:
n = df_cleaned.shape[0]
p = len(df_cleaned.columns)
Adjr2 = 1- (1-r2)*((n-1)/(n-p-1))
print('R_Square\t',r2)
print('AdjustedR_Square',Adjr2)
fstat = (r2/(1-r2))*((n-p-1)/p)
print('F-statistics\t',fstat)
print('MSE',mean_squared_error(y_test, y_pred))
print('MAE',mean_absolute_error(y_test, y_pred) )

R_Square	 0.8012497676605275
AdjustedR_Square 0.7933763644522186
F-statistics	 101.76663717856617
MSE 817415362.0880097
MAE 21112.8198482072

In [21]:
from sklearn.linear_model import Ridge
from sklearn.linear_model import Lasso
#print(X_train)
ridge = Ridge()
ridge.fit(X_train, y_train)
y_pred = ridge.predict(X_test)
r2 = ridge.score(X_train, y_train)
n = df_cleaned.shape[0]
p = len(df_cleaned.columns)
Adjr2 = 1- (1-r2)*((n-1)/(n-p-1))
print('R_Square\t',r2)
print('AdjustedR_Square',Adjr2)
fstat = (r2/(1-r2))*((n-p-1)/p)
print('F-statistics\t',fstat)

R_Square	 0.5867814732984739
AdjustedR_Square 0.5704120027546232
F-statistics	 35.846087491137915